cmake-build-debug/*
*.dot
*.pdf
dist/*
/java/gsm_java/target/
/java/gsm_java/.idea/
target/
dist/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/data/gsm_example.yaml.gsm
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug/
/cmake-build-release/
/dist/
/viz/venv/*
/viz/data/0/
*.ncsv
/viz/.idea/
__pycache__
viz/parsers/__pycache__/
/myeasylog.log
/out.csv
/cmake-build-debug-coverage/
/json_files/
/csv_files/
/bench_files/
/graph_files/
/igc_files/
/api_keys/
/data/
/xml_files/
question_mark.xml
