[submodule "submodules/yaucl"]
	path = submodules/yaucl
	url = git@github.com:datagramdb/yaucl.git
[submodule "submodules/tabulate"]
	path = submodules/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "submodules/args"]
	path = submodules/args
	url = https://github.com/Taywee/args
[submodule "submodules/tinyxml2"]
	path = script_ver/submodules/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "submodules/easylogging"]
	path = submodules/easylogging
	url = https://github.com/abumq/easyloggingpp
