[submodule "submodules/yaucl"]
	path = submodules/yaucl
	url = git@github.com:datagramdb/yaucl.git
[submodule "submodules/tabulate"]
	path = submodules/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "submodules/args"]
	path = submodules/args
	url = https://github.com/Taywee/args
